svg {border: solid black 1px;}

.axis {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
	fill: black;
	stroke: none;
    font-family: sans-serif;
    font-size: 11px;
}


.canvas {
	background-color: #b7b7b7;
}
.body {
	fill: white;
	stroke: black;
	stroke-width: 1;
}
.curvedBody {
	stroke: black;
	stroke-width: 1;
}
		
.graphSVG {
}

.title {
    text-align: center;
    font-family: 'Shadows Into Light', 'cursive';
    font-size: 50px;
    font-weight: bold;
}

body {
    background-color: rgb(200, 247, 44);
}

#sliders {
    float: left;
}

#slider {
    
}

.fullwidth {
    width: 100%;
}

.center {
    text-align: center;
}
