svg {border: none}

.graphSVG {
	border: solid black 2px;
}

#belly {
	fill: none;
}

#bellyMiddle {
	fill: none;
}

.axis {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
	fill: black;
	stroke: none;
    font-family: 'Shadows Into Light', 'cursive';
    font-size: 18px;
    font-weight: bold;
}

.titles {
    text-align: center;
    font-family: 'Shadows Into Light', 'cursive';
    font-size: 30px;
    font-weight: bold;
}

.titless {
    text-align: center;
    font-family: 'Shadows Into Light', 'cursive';
    font-size: 70px;
    font-weight: bold;
}

.textmeasurements {
	text-align: center;
    font-family: 'Shadows Into Light', 'cursive';
    font-size: 25px;
    font-weight: bold;
}
.canvas {
	background-color: #BCE8D7;
	float: left;
}
.body {
	fill: white;
	stroke: black;
	stroke-width: 1;
}
.curvedBody {
	stroke: black;
	stroke-width: 1;
}
		
.graphSVG {
	float: left;
}

#graphTitle {
	font-size: 40px;
	text-align: center;
}

body {
    background-color: #BCE8D7;
}

#sliders {
    float: left;
}

#slider {
    
}

.fullwidth {
    width: 100%;
    background-color: #A37788;
    display: none;
}

.center {
    text-align: center;
}

#mainSlider{
	visibility:visible;
	background-color: #A37788;
}

#bValue {
	text-align: center;
    font-family: 'Shadows Into Light', 'cursive';
    font-size: 25px;
    font-weight: bold;
}

#bPart {
	text-align: center;
    font-family: 'Shadows Into Light', 'cursive';
    font-size: 25px;
    font-weight: bold;
}
