svg {border: solid black 1px;}

.graphSVG {
	border: none;
}

.axis {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
	fill: black;
	stroke: none;
    font-family: 'Shadows Into Light', 'cursive';
    font-size: 18px;
    font-weight: bold;
}

.titles {
    font-family: 'Shadows Into Light', 'cursive';
    font-size: 30px;
    font-weight: bold;
}

.



.canvas {
	background-color: #b7b7b7;
}
.body {
	fill: white;
	stroke: black;
	stroke-width: 1;
}
.curvedBody {
	stroke: black;
	stroke-width: 1;
}
		
.graphSVG {
}

#graphTitle {
	font-size: 40px;
}

body {
    background-color: rgb(200, 247, 44);
}

#sliders {
    float: left;
}

#slider {
    
}

.fullwidth {
    width: 100%;
}

.center {
    text-align: center;
}
